html {
    /*background-color: rgba(0, 255, 157, 0.644);*/
    background: url(Y2k.png) rgb(0, 255, 21);
}

.blueText {
    color: rgb(0, 30, 128);
    font-size: 50px;
}

.belement {
    border: 3px solid black;
    background-color: darkslateblue;
    width: 300px;
    aspect-ratio: 1;
}
body {
    color: #b8690f;
    font-size: 1.25rem;
}
.dark-background{
    background-color: #333;
    color: white;
    padding: 1em;
}
